/*
imports
==================================
*/

@import "../lib/cf-colors/src/cf-colors.less";
@import "../lib/cf-typography/src/cf-typography.less";
@import "../lib/cf-forms/src/cf-forms.less";
@import "../lib/cf-buttons/src/cf-buttons.less";
@import "../lib/cf-grid/dist/ghost.less";

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 1em;
}

img {
  max-width: 100%;
}

.img-wrap {
  border: 1px solid @gray-20;
}


@media (min-width: 850px){
  .img-wrap {
    .column(7);
    border: 1px solid @gray-20;
  }

  .form-wrap {
    .column(5);
    overflow-y: scroll;
  }
}

@media (min-width: 850px) and (min-height: 600px) {
  .form-wrap {
    position: fixed;
  }
}

.img {
  position: relative;
}

.comment-num {
  .webfont-demi();
  background-color: @pacific;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
}

.sans {
  .webfont-regular();

  strong {
    .webfont-demi();
  }
}

.comment-form {
  margin-bottom: 2em;
}

.clear:hover {
  cursor: pointer;
}